* {
  margin: 0;
}

body {
  background-color: azure;
}

.root {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
}

.root__stats {
  display: flex;
  justify-content: space-between;
}

.root__left {
  flex: 0.95;
}

.root__right h4 {
  font-size: 24px;
  font-weight: bold;
}

.root__graphTitle {
  margin-top: 20px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 990px) {
  .root {
    flex-direction: column;
  }
}
